body {
  margin: 0px;
}
h1{
  color: #FF8F8F;
  font-family: 'Dancing Script', 'Helvetica Neue', cursive;
  text-align: center;
  font-size: 4em;
}


h2{
  /* color: #EEF296; */
  /* font-family: 'Dancing Script', 'Helvetica Neue', cursive; */
  text-align: center;
  /* font-size: 4em; */
}


h3{
  /* color: #EEF296; */
  /* font-family: 'Dancing Script', 'Helvetica Neue', cursive; */
  text-align: center;
  /* font-size: 4em; */
}

